.vb__sprite {
        position: absolute;
        background-repeat: no-repeat;
}

.vb__window {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
